html {
  @apply text-base h-screen;
}

body {
  @apply font-secondary font-normal leading-relaxed text-txt-s dark:text-darkmode-txt-s;
  @apply bg-bg-p dark:bg-darkmode-bg-p;
  @apply flex flex-col min-h-screen lg:mx-8;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  // @apply leading-tight text-txt-p dark:text-darkmode-txt-p intersect:animate-fade opacity-0;
  // @apply font-primary font-bold leading-tight bg-gradient-to-r from-orange-500 via-indigo-500 to-green-500 text-transparent bg-clip-text;
}
h1,
.h1 {
  @apply text-h1-sm md:text-h1;
}
h2,
.h2 {
  @apply text-h2-sm md:text-h2;
}
h3,
.h3 {
  @apply text-h3-sm md:text-h3;
}
h4,
.h4 {
  @apply text-h4 font-medium;
}
h5,
.h5 {
  @apply text-h5 font-medium;
}
h6,
.h6 {
  @apply text-h6 font-medium;
}

p {
  @apply intersect:animate-fade opacity-0;
}

b,
strong {
  @apply font-semibold;
}

img {
  @apply mx-auto;
}

.blurb a {
  color:#cd4138;
}


a:hover,
.a:hover {
  @apply opacity-60;
}

hr {
  @apply border-border dark:border-darkmode-border;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.katex {
  .base {
    @apply text-txt-s dark:text-darkmode-txt-s;
  }
}

html.dark .astro-code,
html.dark .astro-code span {
  color: var(--shiki-dark) !important;
  background-color: var(--shiki-dark-bg) !important;
}

// code {
//   @apply after:border-none;
// }

.btn {
  background-color: rgba(17, 17, 17, 0.5);
  border-width: 1px;
  border-color: rgba(255,255,255,0.25);
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  margin: 0.15rem;
  cursor: pointer;
}

/* 
========================
      BUTTON ONE
========================
*/
.btn-one {
  color: rgb(254, 96, 96);
  transition: all 0.3s;
  position: relative;
}
.btn-one span {
  transition: all 0.3s;
}
.btn-one::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.15s;
  border-top-width: 0px;
  border-bottom-width: 3px;
  border-top-style:solid;
  border-bottom-style: solid;
  border-top-color: rgba(254, 96, 96, 1);
  border-bottom-color: rgba(254, 96, 96, 1);
  background-color: rgba(255, 0, 0, 0.15);
  transform: scale(0.1, 1);
}
.btn-one:hover span {
  letter-spacing: 2px;
}
.btn-one:hover::before {
  opacity: 1; 
  transform: scale(1, 1); 
}
.btn-one::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.1s;
  background-color: rgba(123, 91, 91, 0.0);
}
.btn-one:hover::after {
  opacity: 0; 
  transform: scale(0.1, 1);
}



.btn-one:active {
  top: 1px;
  background-color: rgba(250, 0, 0, 0.567);
}



.iconbtn {
  font-family: "Noto Emoji", sans-serif;
  font-size: 16px;
  font-optical-sizing: auto;
  font-weight:300;
  font-weight: normal;
  font-style: normal;
}