---
import Social from "@components/common/Social.astro";

---
<footer class="z-10">

</div>
  <div class="row py-2 lg:py-0 items-center flex-wrap-reverse intersect:animate-fadeUp">
    <div class="text-center lg:mb-0 lg:text-center">
      <ul>
        <li class="m-2 inline-block" style="font-size:x-small">
          This work is based on <a href="http://www.bladesinthedark.com/">Blades in the Dark</a> , product of One Seven Design, developed and authored by John Harper, and licensed for our use under the <a href="http://creativecommons.org/licenses/by/3.0/"> Creative Commons Attribution 3.0 Unported license</a>.
          <br/>This game references the <a href="http://www.perilplanet.com/fu">FU game system</a>. FU and all associated logos and trades are copyrights of Nathan Russell. Used with permission.
        </li>
      </ul>
    </div>
    <!-- <div class="text-center lg:col-2 lg:my-0 flex items-center justify-center lg:justify-end">
      <Social
        links={{
          facebook: "https://www.facebook.com/",
          github: "https://www.github.com/",
          instagram: "https://www.instagram.com/",
          linkedIn: "https://www.linkedin.com/",
        }}
      />
    </div> -->

</div>
</footer>
