---
import BaseLayout from "@components/base/BaseLayout.astro";
import { markdownify } from "@lib/textConverter";
import Button from "@components/common/Button.astro";
import IconButton from "@components/common/IconButton.astro";
import type { HomeEntry, SearchableEntry } from "@/types";
import { render } from "astro:content";
import { Image } from "astro:assets";

interface Props {
  entry: HomeEntry;
}

const { entry} = Astro.props;
const { image, imageAlt, title, content, button } = entry.data;
const { Content } = await render(entry);
---

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css" type="text/css" >

<BaseLayout>
  <!-- Banner -->
  <section class="section animate-fade">
    <div class="container">
      <div class="row justify-center">
        <div class="text-center lg:col-10">
          {
            image && (
              <div class="blur-[0px]">
                <Image
                class="mb-8 w-1024"
                src={image}
                alt={imageAlt}
                width=1018
                height=382
                loading="eager"
              />
              </div>
              
            )
          }
          <h1 set:html={markdownify(title)} class="mb-4" />
          <p set:html={markdownify(content)} class="blurb" />
          
          <section class="" style="margin-top:0px;">
            <Content />
          </section>
          
          <section class="mb-4 glass px-4 rounded-lg" style="margin-top:20px;" />

          <div class="row around-xs">
            <div class="col-xs">
              <a href="/rustpnk/docs/arules/character-creation" class="no-underline inline-block hover:opacity-100">
                <div class="btn btn-one hover:bg-opacity-0 px-4 py-2 font-bold intersect:animate-fade opacity-0">- CHARACTER CREATION -</div>
              </a>
              <a href="/rustpnk/docs/arules" class="no-underline inline-block hover:opacity-100">
                <div class="btn btn-one hover:bg-opacity-0 px-4 py-2 font-bold intersect:animate-fade opacity-0">- RULES -</div>
              </a>
              <a href="/rustpnk/docs/bsetting" class="no-underline inline-block hover:opacity-100">
                <div class="btn btn-one hover:bg-opacity-0 px-4 py-2 font-bold intersect:animate-fade opacity-0">- SETTING -</div>
              </a>
              <a href="/rustpnk/docs/cfactions" class="no-underline inline-block hover:opacity-100">
                <div class="btn btn-one hover:bg-opacity-0 px-4 py-2 font-bold intersect:animate-fade opacity-0">- FACTIONS -</div>
              </a>
              <a href="/rustpnk/docs/etables" class="no-underline inline-block hover:opacity-100">
                <div class="btn btn-one hover:bg-opacity-0 px-4 py-2 font-bold intersect:animate-fade opacity-0">- TABLES -</div>
              </a>
              <a href="/rustpnk/about" class="no-underline inline-block hover:opacity-100">
                <div class="btn btn-one hover:bg-opacity-0 px-4 py-2 font-bold intersect:animate-fade opacity-0">- MAP -</div>
              </a>
              <a href="/rustpnk/docs/" class="no-underline inline-block hover:opacity-100">
                <div class="btn btn-one hover:bg-opacity-0 px-4 py-2 font-bold intersect:animate-fade opacity-0">- INDEX -</div>
              </a>
              <a href="/rustpnk/search" class="no-underline inline-block hover:opacity-100">
                <div class="btn btn-one hover:bg-opacity-0 px-4 py-0 intersect:animate-fade opacity-0"> <p class="iconbtn"> 🔍 </p> </div>
              </a>
              <!-- <Button label="- CHARACTER CREATION -" link="/rustpnk/docs/arules/character-creation"/>
              <Button label="- RULES -" link="/rustpnk/docs/arules"/>
              <Button label="- SETTING -" link="/rustpnk/docs/bsetting"/>
              <Button label="- FACTIONS -" link="/rustpnk/docs/cfactions"/>
              <Button label="- TABLES -" link="/rustpnk/docs/etables"/>
              <Button label="- MAP -" link="/rustpnk/about"/>
              <Button label="- INDEX -" link="/rustpnk/docs/"/>
              <IconButton label="🔍" link="/rustpnk/search"/> -->
            </div>
          </div>
          
          <section class="mb-4 glass px-4 rounded-lg" style="margin-top:20px;" />


    </div>
  </section>
</BaseLayout>

<style>

	.buttonSpan{
	};

	.blurb{
		color:red;
		font-size: 40px;
	}
  
</style>
